<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="heroes">
        {{title}}
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <p class="navbar-text navbar-right">
        {{ user?.auth.email }} <img *ngIf="user" src="{{user?.auth.photoURL}}" class="img-circle" />
        <button class="btn btn-danger btn-xs" (click)="logout()" *ngIf="user">Logout</button>
      </p>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <notifications></notifications>
  <router-outlet></router-outlet>
</div>
